@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    width: 100vw;
    border-bottom: 1px solid rgb(161, 161, 161);
    height: 10vh;
}

.nav-bar .innerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px 100px;
}

.nav-bar .innerDiv .logo {
    font-family: "Passion One", sans-serif;
    color: #00a264;
}

.nav-bar .innerDiv .navElements {
    display: flex;
    gap: 40px;
}

.nav-bar .innerDiv .nav-item {
    padding-bottom: 5px;
    position: relative;
}



.nav-bar .innerDiv .navElements a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: black;
    font-size: 15px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-bar .innerDiv .nav-item .active-link {
    color: #00a264;
    border-bottom: 3px solid #00a264;
}

.nav-bar .innerDiv .navElements a:hover {
    color: #00a264;
}

.nav-bar .other {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar .other .iconDiv {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
}

.nav-bar .other .iconDiv:hover {
    background-color: rgb(245, 245, 245);
}


.nav-bar .other .icons {
    width: 30px;
    height: 30px;
}
